<section
  class='px-4 lg:px-16 flex justify-center items-start flex-col h-64 pt-64 lg:pt-0'
>
  <div>
    <h2 class='font-ISBold text-5xl'>
      Nuestro <span class='underline decoration-yellow-500'>Legado</span>
    </h2>
    <p class='font-ISRegular text-2xl pt-6'>
      Somos líderes en la industria de maquinaria pesada, dedicados a
      proporcionar soluciones innovadoras y de alta calidad para satisfacer las
      necesidades de nuestros clientes en los sectores de la construcción,
      minería, agricultura y otros campos industriales.
    </p>
  </div>
  <div></div>
</section>
