---
import Container from './Container.astro'
---

<Container>
  <section class='pt-32 h-screen overflow-hidden relative'>
    <div class='bg-neutral-900'>
      <div class='h-full w-1/2 relative'>
        <div class='absolute bg-black/30 w-full h-full'></div>
        <img
          class='w-full h-full object-cover object-bottom'
          src='https://images.unsplash.com/photo-1652303518379-c0ef1c9fb2b1?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
          alt='Workers in a construction site'
        />
      </div>
      <div></div>
    </div>
  </section>
</Container>
